<ion-header>
  <ion-navbar>
    <ion-title>
      Food List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="addProduct()">
        <ion-icon name="add" style="color: white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 *ngIf= "count == 0" class="no-text">
    No foods
  </h5>
  <div *ngIf="count>0">
    <ion-list *ngFor="let food of foods">

      <ion-item-sliding>
        <ion-item class="shadow rounded">
          <img [src]="food.img_url" style="width: 100px; border-radius: 10px;" item-start/>
          <h2>{{food.name}}</h2>
          <p>{{food.description}}</p>
          <p item-end>
            ${{food.price}}
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="delete(food.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>
