page-home {
  .no-text {
    font-size : 20px;
    text-align: center;
    color : lightgrey;
  }
  .toolbar-background-md  {
    background-color: #cb8151;
  }
  .toolbar-background-ios  {
    background-color: #cb8151;
  }
  .content {
    background-color: #e2dede;
  }
  ion-title{
    text-align: center;
    color : white;
  }
}
