page-add {
  .btn_add {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width : 80%;
    padding: 25px;
    color : white;
    border-bottom: 1px solid white;
    background-color: #ff7479;
    border-radius: 30px;
  }
  .toolbar-background-md  {
    background-color: #cb8151;
  }
  .toolbar-background-ios  {
    background-color: #cb8151;
  }
  .content {
    background-color: #e2dede;
  }
  ion-header ion-icon.back-button-icon.icon {
    color: white;
  }
}
