<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Food</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img [src] = "food.img_url" style="width: 100%; height : 70vw; border-radius: 10px;" (click)="presentActionSheet()">
  <ion-item class="bg-transparent">
    <ion-label floating>Food Name</ion-label>
    <ion-input [(ngModel)]="food.name"></ion-input>
  </ion-item>
  <ion-item class="bg-transparent">
    <ion-label floating>Food Price</ion-label>
    <ion-input type="number" [(ngModel)]="food.price"></ion-input>
  </ion-item>
  <ion-item class="bg-transparent">
    <ion-label floating>Description</ion-label>
    <ion-textarea [(ngModel)]="food.description"></ion-textarea>
  </ion-item>
</ion-content>
<ion-footer>
  <button ion-button class="btn_add" (click)="addFood()">Add</button>
</ion-footer>
